<% content_for :title do %><%=@asignatura.name%> de <%=@curso.name%><% end %>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page"><a href="<%=curso_path(@curso.id)%>"><%=@curso.name%></a></li>
    <li class="breadcrumb-item active" aria-current="page"><%=@asignatura.name%></li>
  </ol>
</nav>


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"><%=@asignatura.name%></h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>


