
<% content_for :title do %><%=@curso.name%><% end %>

<%if user_signed_in? && current_user.role == "admin"%>
	<ul class="nav">
		<li class="nav-item">			
			<a class="nav-link active" href="<%=trabajocasas_new_path(params[:id])%>">
				<i class="fas fa-plus"></i> Crear nueva tarea para casa
			</a>
		</li>	
    <li class="nav-item">			
			<a class="nav-link active" href="<%=controls_new_path(params[:id])%>">
				<i class="fas fa-plus"></i> Crear nuevo control
			</a>
		</li>		
	</ul>
<%end%>

<%@controles.each do |c|%>
<div class="alert alert-danger" role="alert">
	<img class="" src="/images/<%=Asignatura.find(c.asignatura).image%>" alt="Generic placeholder image" width="50" height="auto"> <strong><%=c.descripcion%></strong> Asignatura:  <strong><%=Asignatura.find(c.asignatura).name%></strong> Fecha: <strong><%=c.fecha.strftime("%d-%m-%Y")%></strong>
</div>
<%end%>

<section class="jumbotron text-center">
	<div class="container">		
			<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
			<h1 class="display-4"><img class="" src="/images/ClassDojo Accessories/community_contact.png" alt="Generic placeholder image" width="140" height="140"><%=@curso.name%></h1>
				<p class="lead">Aquí encontrarás todos los deberes, actividades y ejemplos relacionados con <%=@curso.name%> de primaria  </p>
			</div>
		<p>
			<a href="#asignaturas" class="btn btn-primary my-2">Asignaturas</a>
			<a href="<%=trabajocasa_path(@curso.id)%>" class="btn btn-secondary my-2">Trabajos de casa</a>
			<a href="<%=actividades_curso_path(@curso.id)%>" class="btn btn-secondary my-2">Actividades</a>
		</p>
	</div>
</section>

<!-- Three columns of text below the carousel -->
<p class="display-4 text-center" id="asignaturas">Asignaturas</p>
<div class="row" >	
	<%Asignatura.where("curso=?", @curso.id).each do |a|%>
	  <div class="col-lg-4">
	    <img class="c-asignatura" src="/images/<%=a.image%>" alt="Generic placeholder image" width="140" height="140">
	    <h2><%= a.name %></h2>
	    <p><%=a.description%></p>
	    <p><a class="btn btn-secondary" href="<%=asignatura_path(a.id)%>" role="button">Ver asignatura &raquo;</a></p>
	  </div><!-- /.col-lg-4 -->
  <%end%>
</div><!-- /.row -->
