 <div class="container fixed-top" style="background-color:white;">
      <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-2 pt-1">
            <% if !user_signed_in? %>
              <a class="text-muted" href="<%=new_user_session_path%>">Acceder</a>
            <%else%>
              <%= link_to('Salir', destroy_user_session_path, method: :delete, :class => "text-danger") %>
            <%end%>
          </div>
          <div class="col-8 text-center">
            <a id="lpda-desktop" class="blog-header-logo text-dark" style="font-family: 'Orbitron', sans-serif;FONT-SIZE:2EM;" href="/">
              <img class="" src="/images/logoLPDA-2.png" alt="Generic placeholder image" width="100" height="auto"> LA PIZARRA DE 
              <span style="font-family: 'Orbitron', sans-serif;FONT-SIZE:1.2EM;background-color:#4286f4;color:white;padding:5px">Á G U E D A</span>
            </a>
            <a id="lpda-mobile" class="blog-header-logo text-dark" href="/"><img class="" src="/images/logoLPDA-2.png" alt="Generic placeholder image" width="100" height="auto"></a>
          </div>
          <div class="col-2 d-flex justify-content-end align-items-center">
            <% if user_signed_in? %>
              <a href="<%=admin_path%>" class="text-muted"><%=current_user.name%></a>            
            <%end%>
          </div>
        </div>
      </header>

      <div class="nav-scroller">
        <nav class="nav d-flex justify-content-between">
          <a class="p-2 text-muted" href="/">Inicio</a>
          <a class="p-2 text-muted" href="<%=actividads_path%>">Actividades</a>
          <a class="p-2 text-muted" href="<%=noticias_path%>">Noticias</a>
          <a class="p-2 text-muted" href="/cursos/1">Primero</a>
          <a class="p-2 text-muted" href="/cursos/2">Segundo</a>
          <a class="p-2 text-muted" href="/cursos/3">Tercero</a>
          <a class="p-2 text-muted" href="/cursos/4">Cuarto</a>
          <a class="p-2 text-muted" href="/cursos/<%=Curso.find(5).id%>">Quinto</a>
          <a class="p-2 text-muted" href="/cursos/6">Sexto</a>
          <a class="p-2 text-muted" href="#">Enlaces de interés</a>
        </nav>
      </div>
  </div>
